@{
    ViewData["Title"] = "Index";
}

<h2>Your purchases</h2>

<h3>Lifetime cups of coffee: @ViewData["CupsOfCoffeePurchased"]</h3>
<h3>Purchases until you get a cup of coffee for free: @ViewData["CupsOfCoffeeUntilNextFree"]</h3>

