@{
    ViewData["Title"] = "Home Page";
}

<div style="background: url(/images/header_bg.jpg) no-repeat; background-size:cover; position: absolute; top: 0; left: 0; right: 0; height: 70%">
    <h1 style="color: rgba(255, 255, 255, .90); margin-left: 10%; margin-top: 10%; font-size: 5rem">Flat Planet Cafe</h1>
    <h2 style="color: rgba(255, 255, 255, .85); margin-left: 10%">Your one stop coffee shop</h2>
</div>

<div style="margin-top: 55%">
    <a asp-controller="Account" asp-action="Register">Sign up</a> to become a valued customer today! 
</div>